.random {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
}
